

.swiperSlide {
  text-align: center;
  font-size: 18px;
  z-index: 0;
  background: #e4dfdc;
  display: flex;
  align-items: center;
  height: 515px;
  margin-top: 25px;
  overflow: hidden;

  /* Center slide text vertically */
}

.swiperSlide .sliderHeading{
  text-transform: capitalize;
  font-size: 45px;
  font-weight: bold;
}

.swiperSlide .sliderLeftContent{
  margin-left: 25px;
}
.swiperSlide .sliderLeftContent .sliderButton{
  width: 150px;
  margin: 25px 0;
  background-color: #1f2937;
  color: #fff;
  text-transform: capitalize;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
